@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Oswald", sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  background: rgb(2, 50, 74);
}